$orange: #ff6b61;
$gray: #5d5b5e;
$green: #32b67a;
$light-green: #cdffcc;
$heading-font-family: 'Abril Fatface';
$body-font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$spacing-unit: .75rem;

// SASS MQ!:
// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
  mobile:  320px,
  tablet:  740px,
  desktop: 980px,
  wide:    1300px,

  // Tweakpoints
  desktopAd: 810px,
  mobileLandscape: 480px
);

@import 'mq';

// universal box sizing
*, *:before, *:after {
  box-sizing: border-box;
}

main {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  flex-flow: column wrap;

  @include mq($from: tablet) {
    min-height: 84vh;
  }
}


html, body {
  -webkit-font-smoothing: antialiased;
  color: $gray;
  font-family: $body-font-family;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: normal;
}

a {
  text-decoration-skip: ink;
  /* color: #444; */
  text-decoration-color: #beb9c6;
  /* border-bottom: 3px solid #b4e7f8; */
  /* box-shadow: inset 0 -1rem 0 #b4e7f8; */
  color: inherit;
  /* -webkit-transition: background .15s cubic-bezier(.33,.66,.66,1); */
  transition:
  color .15s cubic-bezier(.33,.66,.66,1),
  text-decoration-color .15s cubic-bezier(.33,.66,.66,1);

  &:hover {
    color: $orange;
    text-decoration-color: $orange;
  }
}

strong {
  // normalize.css defines 'bolder', but our font doesn't support
  // that.
  font-weight: bold;
}

.top-bar {
  padding: 2rem;
  text-align: center;
  height: 20rem;
  background-color: white;

  .menu {
    background-color: white;
  }

  @include mq($from: tablet) {
    height: 9rem;
  }
}

.top-bar-right {
  float:right;
  display: flex;
  justify-content: center;
  // position: absolute;
  left: 2rem;
  right: 2rem;
  top: 14rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: .8rem;
  font-weight: 500;
  width: 100%;

  a {
    text-decoration: none;
  }

  ul {
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
      padding: 1rem;
    }
  }


  @include mq($from: tablet) {
    top: 2rem;
    justify-content: flex-end;
    width: calc(100% - 10rem);
  }
}

h1 {
  font-family: $heading-font-family;
  text-transform: capitalize;
  // letter-spacing: .1rem;
  font-weight: normal;
  font-size: 3rem;
}


#logo  {
  margin: 0 auto;
  z-index: 999;

  img {
    width: 50vw;

  }

  @include mq($from: tablet) {

    img {
      width: 7rem;

    }
    float: left;
    margin: 0;
    left: 2rem;
    top: 2rem;
  }
}


footer {
  background: #ecebf2;
  color: $gray;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  p {
    line-height: 1.4;
  }

  .name {
    font-weight: 700;
  }

  div {
    margin-bottom: .5rem;
  }
}

main.twocolumn {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 100%;
}

.contact {
  text-align: center;
}
